<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author"="">
  <link rel="shortcut icon" href="/img/proshore-logo.jpg" type="image/x-icon">
  <title>Leave Management System</title>

  <!-- Bootstrap CSS-->
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- css for font-awesome-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- CSS for datatables-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for dashboard-->
  <link href="/css/dashboard.css" rel="stylesheet">

  <!-- Custom styles for dashboard-->
  <link href="/css/change.css" rel="stylesheet">
  
  <script src="/vendor/jquery/jquery.js"></script>

</head>