<div class="table table-responsive-sm text-center">
    <table class="table  table-sm">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th>Options</th>
            </tr>

        </thead>
        <tbody>
            <% allresult.forEach(function(leave){%>
            <tr>
                <td><%= leave.name%></td>
                <td><%= leave.number%></td>

                <td>
                    <div class="btn-group btn-group-sm mr-0">
                        <a href="/leavetype/editleave/<%=leave.id%>" class="btn btn-warning btn-sm">Edit &nbsp;<i
                                class="fa fa-pen"></i></a>
                        <a href="/leavetype/deleteleave/<%=leave.id%>" class="btn btn-danger btn-sm">Delete &nbsp;<i
                                class="fa fa-times"></i></a>
                    </div>

                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>