<% include ./../layouts/layoutheader%>
<!-- Custom styles for dashboard-->
<link href="/css/change.css" rel="stylesheet">
<!-- display message -->
<% include ./../partials/messages.ejs%>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Edit Leave</li>
    <li class="ml-auto" style="float: right;">
    <li class="breadcrumb-item "><a class="btn btn-sm btn-primary" href="/leavetype" style="color: white;">Add
            Leave Type </a>
    </li>
    </li>
</ol>

<div class="row">
    <div class="col-md-6">
        <% include ./allleaves.ejs%>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-card-head">
                Add Leave Type
            </div>
            <div class="card-body bg-card-body" id="fromDiv">
                <form action="/leavetype/editleave/<%=leave.id%>" method="post">
                    <div class="form-group ">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name:</label>
                            <input type="text" id="leave_type" class="form-control leave-name" onkeypress="return (event.charCode > 64 && 
                                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
                                value="<%=typeof leave !="undefined" ? leave.name : ''%>" name=name
                                placeholder="type of leave" required>
                        </div>

                        <div class="form-group">
                            <label>Number of Days:</label>
                            <input type="number" id="number_leaves" class="form-control"
                                value="<%=typeof leave !="undefined" ? leave.number : ''%>" name=number
                                placeholder="name of the holiday event" min="1" step="1" max="12" required>
                        </div>



                        <div class="form-group">
                            <label>Description:</label>
                            <textarea class="form-control" cols="30" rows="5" value="" name=description
                                placeholder="description for the type of leave"
                                required><%=typeof leave !="undefined" ? leave.description : ''%></textarea>
                        </div>


                    </div>
                    <div class="justify-content-end">
                        <button type="submit" class="btn btn-primary float-left">Update</button>
                        <a href="/leave/leaveType" type="submit" class="btn btn-danger float-right">Discard</a>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        // setTimeout(() => {
        //     $('#fromDiv').hide('slow')
        // }, 1000);
        $("input#leave_type").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });
        var inputBox = document.getElementById("number_leaves");
        var invalidChars = [
            "-",
            "+",
            "e",
        ];

        inputBox.addEventListener("input", function () {
            this.value = this.value.replace(/[e\+\-]/gi, "");
        });

        inputBox.addEventListener("keydown", function (e) {
            if (invalidChars.includes(e.key)) {
                e.preventDefault();
            }
        });
    })
</script>

<% include ./../layouts/layoutfooter%>