block variables
doctype html
html(lang="en")
  head
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=yes')
    meta(name='description' content='')
    meta(name='author','Amit Dhoju')
    link(rel='shortcut icon' href='/images/proshore-logo.jpg' type='image/x-icon')
    title Leave Management System
    
    block head

    script(src='/vendor/jquery/jquery.js')
      
    // Bootstrap CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // css for font-awesome
    link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')      
    //- Custom styles for dashboard
    link(href='/custom/dashboard/css/dashboard.min.css' rel='stylesheet')
    // Custom styles for dashboard
    link(href='/stylesheets/change.css' rel='stylesheet')
    block style

  body#page-top
    block layout

    block footer
    // Script part
    script(src='/vendor/jquery/jquery.min.js')
    // Bootstrap core JavaScript
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    // Core plugin JavaScript
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    // Page level plugin JavaScript
    script(src='/vendor/chart.js/Chart.min.js')
    script(src='/vendor/datatables/jquery.dataTables.js')
    script(src='/vendor/datatables/dataTables.bootstrap4.min.js')
    // Custom scripts for all pages
    script(src='/js/dashboard.js')
    script(src='/js/demo/chart-area-demo.js')
    block script
