extends base-layout

block content
  .page-height.accent.d-flex.align-items-center.justify-content-center
    .error-404.text-center
      h1.lh-1.m-b-0.text-primary.wt-300(style="font-size:15vw;") 404
      h2.f-20.f-md-16.wt-400 Sorry! Page not found
        | 
        a(href="/") Go back to home