ul.sidebar.navbar-nav.bg-proshore-light#sidebar
  li.nav-item
    a.nav-link(href='/')
      i.fas.fa-fw.fa-tachometer-alt
      span Dashboard
  li.nav-item
    a.nav-link(href='/holiday')
      i.fas.fa-fw.fa-list-alt
      span Holidays
  li.nav-item
    a.nav-link(href='/leavetype')
      i.fas.fa-fw.fa-th-large
      span Leave Type
  li.nav-item
    a.nav-link(href='/applyleave')
      i.fas.fa-fw.fa-list-alt
      span Leave List
  li.nav-item
    a.nav-link(href='/calender/show')
      i.fas.fa-fw.fa-calendar-alt
      span Calender
  li.nav-item
    a.nav-link(href='/user/login')
      i.fas.fa-fw.fa-user-shield
      span User


