<% include ./../layouts/layoutheader%>
<style>
  select::-webkit-inner-spin-button,
  select::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<% include ./../partials/messages%>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Dashboard</a>
  </li>
  <li class="breadcrumb-item active"><a href="/list">All Leave</a></li>
  <li class="breadcrumb-item active">Add Leave Form</li>


  <li class="ml-auto" style="float: right;">
  <li class="breadcrumb-item "><a class="btn btn-sm btn-primary" href="/list/" style="color: white;">Leave List </a>
  </li>
  </li>
</ol>

<div class="card mb-3">
  <div class="card-header">Leave Form</div>
  <div class="card-body">
    <form method="post" action="/list/add">

      <div class="form-group">
        <label for="employeeName">Employee Name *</label>
        <input type="text" class="form-control" id="employeeName" name="employeeName" aria-describedby="nameinfo"
          placeholder="Enter Employee Name" required value="">
        <small id="nameinfo" class="form-text text-muted"></small>
      </div>
 

      <div class="form-row">
        
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <label for="leaveType">Leave Type *</label>
          <select name="leaveType" id="leaveType" class="form-control" required>
            <option value="">Select the leave</option>
            <option value="casual">Casual Leave</option>
            <option value="sick">Sick</option>
            <option value="paternity">Paternity</option>
            <option value="maternity">maternity</option>
            <option value="marriage">Marriage</option>
            <option value="mourn">mourn</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="fromDate">From Days*</label>
          <div class="input-group">
            <input type="date" class="form-control" name="fromDate" id="fromDate"  required
              aria-describedby="fdate">
            <div class="input-group-append">
              <span class="input-group-text" id="fdate"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="toDate">To Days*</label>
          <div class="input-group">
            <input type="date" class="form-control" name="toDate" id="toDate" required
              aria-describedby="tdate">
            <div class="input-group-append">
              <span class="input-group-text" id="tdate"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="leaveDay">Leave Days*</label>
          <input type="number" class="form-control" id="leaveDay" name="leaveDay" placeholder="Enter leave day" step="1"
            min="1" max="100" value="0" required aria-describedby="leaveinfo" autocomplete="off" readonly>
         <small id="leaveinfo" class="form-text text-muted" style="color: red;font-weight:bolder;"></small>

        </div>


      </div>


      <div class="form-group">
        <label for="leaveReason">Reason for Leave *</label>
        <textarea class="form-control" name="leaveReason" id="leaveReason" aria-describedby="reason"
          placeholder="Reason for Leave in detail" required></textarea>
        <small id="reason" class="form-text text-muted">PS: Write exact reason</small>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="doneCheck" >
        <label class="form-check-label" for="doneCheck">Check me out</label>
      </div>
      <button type="submit" id="btnSubmit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
</div>

<script src="/js/leaveAdd.js"></script>
<% include ./../layouts/layoutfooter%>  