<!-- Custom styles for dashboard-->
<link href="/css/change.css" rel="stylesheet">
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">holiday</li>
</ol>
<div class="row">
    <div class="col-md-6">
        <% include ./allleaves.ejs%>
    </div>
    <div class="col-md-6">
        <div class="card ml-5" style="width: 25rem;">
            <div class="card-header">
                Leave
            </div>
            <div class="card-body">
                <form action="/leave/editleave/<%=leave.id%>" method="post">
                    <div class="form-group ">
                        <label></label>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name:</label>
                            <input type="text" class="form-control"
                                value="<%=typeof leave !="undefined" ? leave.name : ''%>" name=name
                                placeholder="number of day leave employee will be allowed" required>
                        </div>

                        <div class="form-group">
                            <label>Number of Days:</label>
                            <input type="number" class="form-control"
                                value="<%=typeof leave !="undefined" ? leave.number : ''%>" name=number
                                placeholder="name of the holiday event" min="1" max="100">
                        </div>



                        <div class="form-group">
                            <label>Description:</label>
                            <textarea class="form-control" cols="30" rows="5" value="" name=description
                                placeholder="description for the type of leave"
                                required><%=typeof leave !="undefined" ? leave.description : ''%></textarea>
                        </div>


                    </div>
                    <div class="justify-content-end">
                        <button type="submit" class="btn btn-primary float-left">Add</button>
                        <a href="/leave/leaveType" type="submit" class="btn btn-danger float-right">Discard</a>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>


<% include ./../layouts/layoutfooter%>