<% include ./../layouts/layoutheader%>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">holiday</li>
</ol>

<b>HOLIDAYS</b>

<% include ./../layouts/layoutfooter%>