<% include ./../layouts/layoutheader%>
<!-- Custom styles for dashboard-->
<link href="/css/change.css" rel="stylesheet">
<!-- display message -->
<% include ./../partials/messages.ejs%>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Add Leave</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <% include ./allleaves.ejs%>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 25rem;">
            <div class="card-header bg-card-head">
                Add Leave Type
            </div>
            <div class="card-body bg-card-body" id="fromDiv">
                <form action="/leave/leaveType" method="post">
                    <div class="form-group ">
                        <div class="form-group">
                            Name:
                            <input type="text" id="leave_type" class="form-control" name=name
                                placeholder="name of the holiday event " minlength="4" maxlength="12" size="10"
                                onkeypress="return (event.charCode > 64 && 
                                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" required>
                        </div>

                        <div class="form-group">
                            <label>Number of Days:</label>
                            <input type="number" id="number_leaves" class="form-control" name=number
                                placeholder="number of day leave employee will be allowed" min="1" step="1" max="20"
                                required>
                        </div>



                        <div class="form-group">
                            <label for="exampleInputEmail1">Description:</label>
                            <textarea class="form-control" cols="30" rows="5" value=description name=description
                                placeholder="description for the type of leave" required></textarea>
                        </div>


                    </div>
                    <div class="justify-content-end">
                        <button type="submit" class="btn btn-primary float-left">Add</button>
                        <button type="submit" class="btn btn-danger float-right">Discard</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        // setTimeout(() => {
        //     $('#fromDiv').hide('slow')
        // }, 1000);

        $("input#leave_type").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });

        var inputBox = document.getElementById("number_leaves");

        var invalidChars = [
            "-",
            "+",
            "e",
        ];

        inputBox.addEventListener("input", function () {
            this.value = this.value.replace(/[e\+\-]/gi, "");
        });

        inputBox.addEventListener("keydown", function (e) {
            if (invalidChars.includes(e.key)) {
                e.preventDefault();
            }
        });
    })
</script>
<% include ./../layouts/layoutfooter%>