<% include ./../layouts/layoutheader%>

<style>
    #banner {
        border: 1px solid teal;
    }
</style>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">leave type</li>
</ol>

<b id="banner">Leave TYPE</b>
<% include ./../layouts/layoutfooter%>